@model CumulativePart1.Models.Teacher

<h1>Edit the Teacher Information</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert" style="background-color: rgb(213, 147, 147);">
        @TempData["ErrorMessage"]
    </div>
}

<form method="POST" action="/TeacherPage/Update/@Model.TeacherId">
    <div>
        <label for="TeacherFName">First Name:</label>
        <input type="text" name="TeacherFName" id="TeacherFName" value="@Model.TeacherFName" />
    </div>
    <div>
        <label for="TeacherLName">Last Name:</label>
        <input type="text" name="TeacherLName" id="TeacherLName" value="@Model.TeacherLName" />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" value="@Model.EmployeeNumber" />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" name="HireDate" id="HireDate" value="@Model.HireDate" />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="number" name="Salary" id="Salary" value="@Model.Salary" step="any" />
    </div>
    <div>
        <input type="submit" value="Update Teacher" />
    </div>
</form>