@model CumulativePart1.Models.Course
<h1>@Model.CourseCode @Model.CourseName</h1>
<p>Teacher ID: @Model.TeacherID</p>
<p>Start Date: @Model.StartDate.ToString("yyyy-M-d")</p>
<p>Finish Date: @Model.FinishDate.ToString("yyyy-M-d")</p>
