@model CumulativePart1.Models.Course
<h1>@Model.CourseCode @Model.CourseName</h1>
<p>Teacher ID: @Model.TeacherId</p>
<p>Start Date: @Model.StartDate</p>
<p>Finish Date: @Model.FinishDate</p>
<a href="/CoursePage/DeleteConfirm/@Model.CourseId">Delete Course</a>
